table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
    font-size: 2rem;
}


.editPrice .deletePrice{
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.peoples{
    color: rgb(146, 50, 43);
    font-style: bold;
    
}