table
{
    border-collapse: collapse; 
}
td
{
    border: 1px solid black;
    font-size: 2rem;
}


.editPrice .deletePrice{
    width: 50px;
    height: auto;
    margin-left: 20px;
}

.peoples{
    color: rgb(146, 50, 43);
    font-style: bold;
    
}

.article {
    box-shadow: 2px 2px 5px rgb(59, 59, 59);
    transition: all 0.5s;
}

.article:hover {
    box-shadow: 2px 2px 10px rgb(59, 59, 59);
    transition: all 0.5s;
}

.articleContent h6 {
    text-align: center;
}


.articleContainer:empty {
    display: none;
}